.loginContainer{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logChild{
    margin: 1em;
}

.passAndRemember{
    display: flex;
    flex-direction: column;
}

